/***** loading *****/
.loading_wrap{
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -125px;
	margin-left: -130px;
	height:250px;
	width:260px;
	text-align: center;
}
.loading_wrap p{
	margin-top: 20px;
	font-size: 34px;
	color:#6bf;
}


#p1{
	background-image: url('../../images/index/bg1.jpg');
}
#p2{
	background-image: url('../../images/index/bg2.jpg');
}
#p3{
	background-image: url('../../images/index/bg3.jpg');
}
#p4{
	background-image: url('../../images/index/bg4.jpg');
}
.fp{
	height: 1080px;
	margin: 0 auto;
	padding: 0;
	/* background-size: cover; */
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
