html{
	font-family: STCaiyun,YouYuan,微软雅黑,consolas,arial,sans-serif;
	font-weight: bold;
}
.loading-wrap{
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -125px;
	margin-left: -130px;
	height:250px;
	width:260px;
	text-align: center;
}
.loading-wrap p{
	margin-top: 20px;
	font-size: 34px;
	color:#6bf;
}
.section{
	/* transform: scale(1.02,1.02);
	-ms-transform: scale(1.02,1.02);
	-webkit-transform: scale(1.02,1.02); */
	background-size: cover;
	background-position: 50% 50%;
	background-image: url('../images/ROAME_243816_7CC7F367.jpg');
}
.title{
	position:absolute;
	bottom:100px;
	width:100%;
	text-align: center;
	color: #000;
	font: bold 100px STCaiyun,幼圆,微软雅黑,arial,sans-serif;;
}