.mid_wrap {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-150px;
	margin-top:-240px;
	width:300px;
	height:480px;
}
.upload_btn {
	margin: 0 auto;
	width: 200px;
	height: 120px;
	background-color:#0092de;
	color:#fff;
	text-align: center;
	line-height: 120px;
	font-size: 30px;
	border-radius: 20px;
}
.upload_list {
	margin-top: 20px;
	width: 100%;
	min-height: 120px;
	border: 2px dashed #e1e1e1;
}
.upload_list p {
	padding: 5px;
}