html{
	font-family: STCaiyun,YouYuan,微软雅黑,consolas,arial,sans-serif;
	font-weight: bold;
}
.loading-wrap{
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -125px;
	margin-left: -130px;
	height:250px;
	width:260px;
	text-align: center;
}
.loading-wrap p{
	margin-top: 20px;
	font-size: 34px;
	color:#6bf;
}
.section{
	height: 1080px;
	background-size:cover;
	background-position: 50%;
}
.section1{
	background-color: #000;
}
.section2{
	background-color: #00f;
}
.section3{
	background-color: #0ff;
}
.section4{
	background-color: #0f0;
}
.section5{
	background-color: #ff0;
}
.section6{
	background-color: #f60;
}
.section7{
	background-color: #f00;
}
.section8{
	background-color: #fff;
}
.title{
	position:absolute;
	bottom:100px;
	width:100%;
	text-align: center;
	color: #000;
	font: bold 100px STCaiyun,幼圆,微软雅黑,arial,sans-serif;;
}