html{
	font-family: STCaiyun,YouYuan,微软雅黑,consolas,arial,sans-serif;
	font-weight: bold;
}
.loading-wrap{
	text-align: center;
}
.loading-wrap p{
	margin-top: 20px;
	font-size:50px;
	color:#6bf;
}
.section{
	background-size:cover;
	background-position: 50%;
}
.section1{
	background-image: url(../images/ROAME_243816_7CC7F367.jpg);
}
.section2{
	background-image: url(../images/ROAME_195345_D9EC3893.jpg);
}
.section3{
	background-image: url(../images/ROAME_227601_4CCC3568.jpg);
}
.section4{
	background-image: url(../images/ROAME_271916_90223223.jpg);
}
.title{
	position:absolute;
	bottom:100px;
	width:100%;
	text-align: center;
	color: #000;
	font-size: 100px;
}