.m_wrap{
	margin: 0 auto;
}
.s1{
	width: 100px;
	height: 100px;
}
.intro{
	background-color: #12f;
}
.article{
	background-color: #12f;
}
.gallery{
	background-color: #12f;
}
.lab{
	background-color: #12f;
}
.system{
	background-color: #12f;
}
.config{
	background-color: #12f;
}